{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
  <div class="centered-container">
      <div class="form-card">
          <h1 class="header">{% block header %}Recommendation Posts{% endblock %}</h1>
          <div class="search-container">
              <form id="tagSearchForm" onsubmit="return redirectToTagPage();" class="search-form">
                  <input
                      type="search"
                      id="mySearch"
                      name="q"
                      placeholder="Search by tag…"
                  />
                  <button type="submit" class="search-button">Search</button>
              </form>
          </div>
          <div class="actions-container">
              <a href="/create-post">
                  <button type="button" class="btn-primary">Create a rec-post</button>
              </a>
              <a href="/recommendations-system">
                  <button type="button" class="btn-info">Rec-list</button>
              </a>
          </div>
          <div id="error-output" class="error-message-container" style="display: none; margin-top: 20px;"></div>
      </div>
  </div>

  <div id="posts">
    {% for post in posts %}
    <div class="card border-dark">
      <div class="card-header d-flex justify-content-between align-items-center">
        <a href="/posts/{{post.user.username}}">{{post.user.username}}</a>
        <div>
          <span id="likes-count-{{post.id}}">{{ post.likes|length }}</span>
          {% if user.id in post.likes|map(attribute="author")|list %}
          <i
            class="fas fa-thumbs-up"
            id="like-button-{{post.id}}"
            onclick="like('{{ post.id }}')"
          ></i>
          {% else %}
          <i
            class="far fa-thumbs-up"
            id="like-button-{{post.id}}"
            onclick="like('{{ post.id }}')"
          ></i>
          {% endif %}
          {% if user.id == post.author %}
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
            ></button>
            <ul class="dropdown-menu">
              <li>
                <a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="card-body">
        <div class="card-text">{{ post.text|replace('\n', '<br>')|safe }}</div>
        <br />
       
        {% if post.tags|length > 0 %}
          <div class="tags mb-2">
            {% set success_tags = post.tags | selectattr('is_good', 'equalto', true) %}
            {% set danger_tags = post.tags | selectattr('is_good', 'equalto', false) %}
            
            {% for tag in success_tags %}
            <a href="/tags/{{ tag.name|replace('#', '') }}" class="badge bg-success">
                {{ tag.name }}
            </a>
            {% endfor %}
            
            {% for tag in danger_tags %}
            <a href="/tags/{{ tag.name|replace('#', '') }}" class="badge bg-danger">
                {{ tag.name }}
            </a>
            {% endfor %}
          </div>
        {% endif %}
        
        <div class="collapse" id="comments-{{post.id}}">
          <div class="card">
            <div class="card-body" id="comments-expanded-{{post.id}}">
              {% for comment in post.comments %}
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <a href="/posts/{{comment.user.username}}">{{comment.user.username}}</a>: {{comment.text}}
                </div>
                <div>
                  <small class="text-muted">{{comment.date_created}}</small>
                  {% if user.id == comment.author or user.id == post.author %}
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-primary dropdown-toggle"
                      data-bs-toggle="dropdown"
                    ></button>
                    <ul class="dropdown-menu">
                      <li>
                        <a
                          href="/delete-comment/{{comment.id}}"
                          class="dropdown-item"
                          >Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <p class="card-text">
          {% if post.comments|length > 0 %}
          <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
            <small>View {{post.comments|length}} Comments</small>
          </a>
          {% else %}
          <small class="text-muted">No Comments</small>
          {% endif %}
        </p>
        <form
          class="input-group mb-3"
          method="POST"
          action="/create-comment/{{post.id}}"
        >
          <input
            type="text"
            id="text"
            name="text"
            class="form-control"
            placeholder="Comment something!"
          />
          <button type="submit" class="btn btn-primary">Comment</button>
        </form>
      </div>
      <div class="card-footer text-muted">{{post.date_created}}</div>
    </div>
    <br />
    {% endfor %}
  </div> 

  <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/tags.js')}}"
    ></script>
  {% block footer %}
  {% endblock %} {% endblock %}