{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div id="error-output" class="error-message-container" style="display: none;"></div>
<h1 align="center">Enjoy your recommendations</h1>
<div align="right">
    <a href="/home">
        <button type="button" class="btn btn-lg btn-secondary">Back</button>
    </a>
</div>

<form id="rec-form" class="form-container">
    <label for="criteria-select" class="form-label">Choose a criterion:</label>
    <select id="criteria-select" class="form-select">
        <option selected disabled>Select a criterion for building a recommendation</option>
        <option value="1">Plot</option>
        <option value="2">Content Rating</option>
        <option value="3">Genre</option>
        <option value="4">Author</option>
        <option value="5">Actor</option>
        <option value="6">Release Year</option> 
        <option value="7">Production Company</option>
    </select>
    <br/>
    <div id="input-container" class="input-container" style="display: none;">
        <label for="criteria-input" class="form-label">Enter your input:</label>
        <input type="text" id="criteria-input" class="form-input" placeholder="Input based on your selection">
    </div>
    <div id="hint-container" style="display: none;">
        <p id="hint-text"></p>
    </div>
    <br/>
    <button type="submit" class="submit-btn">Get Recommendations</button>
</form>

<div id="recommendation-output" class="recommendation-output"></div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommendations.css') }}">
<script src="{{ url_for('static', filename='js/recommendations.js') }}"></script>

{% endblock %}
